.post {
  margin-bottom: 40px;
}

.post img {
  width: 60px;
  border-radius: 30%;
}

.post p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.post button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: yellowgreen;
  color: white;
  font-weight: bold;
  padding: 5px 25px;
}

.post button:active {
  background-color: yellow;
  color: blue;
}

.post button:hover {
  cursor: pointer;
}